
.mad-menu {
  padding: .25rem 0;
  color: $text;
}
.mad-menu-item {
  display: block;
  padding: .25rem .5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &.--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &.--clickable {
    cursor: pointer;
  }
  &:hover, &:focus, &.--hover {
    color: white;
    background: $primary;
  }
  &.--active {
    color: white;
    background: $primary;
  }
}
