
.select_multi-item {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  text-align: left;
}


.mad-select {
  width: 100%;
  position: relative;
  &.--disabled {
    & > .mad-input {
      background: rgba(0, 0, 0, 0.05);
      color: rgba(0, 0, 0, 0.8);
    }
    pointer-events: none;
  }
  &.--input-hide input {
    opacity: 0;
    // width: 0;
  }
  input {
    flex: 1 1 0;
  }
}
.mad-select_grid {
  display: flex;
  flex-wrap: wrap;
  // padding: .25rem 0;
  margin: .25em;
  & > * {
    margin: .25em;
    flex-shrink: 1;
  }
}
