$yellow: #e4b600 !default;
$blue: #7348eb !default;
$green: #40bd93 !default;
$red: #e43f3f !default;
$purple: #7348eb !default;
$orange: #fb7e5c !default;

// $facebook: #3b5998 !default;
// $twitter: #00aced !default;

$white: #ffffff !default;
$gray: #888888 !default;
$darkgray: #222222 !default;

$text: $darkgray !default;
$muted: $gray;
$primary: $blue !default;


$colors: (
  yellow: $yellow,
  blue: $blue,
  green: $green,
  red: $red,
  purple: $purple,
  orange: $orange,

  // facebook: $facebook,
  // twitter: $twitter,

  white: $white,
  darkgray: $darkgray,
  
  text: $text,
  muted: $muted,
  primary: $primary,
) !default;



$margin: 1.5rem !default;
$margin-xs: $margin * 0.25 !default;
$margin-sm: $margin * 0.5 !default;
$margin-lg: $margin * 1.5 !default;
$margin-xl: $margin * 3 !default;

$margins-map: (
  '': $margin,
  -xs: $margin-xs,
  -sm: $margin-sm,
  -lg: $margin-lg,
  -xl: $margin-xl,
  -0: 0,
);


$fontsizes: (
  xl: 1.8rem,
  lg: 1.35rem,
  md: 1rem,
  sm: 0.85rem,
  xs: 0.7rem,
) !default;

