

.mad-form-item {
  @extend p;
  display: block;
  &.-haserror {
    color: $red;
  }
}
.mad-form-item_label {
  display: block;
  margin-bottom: 0.25em;
  font-weight: bold;
  font-size: 90%;
  .-required &::after {
    content: '*';
    color: $red;
  }
}
