


.mad-input-date {
  display: block;
}
.mad-input-date_columns {
  display: flex;
  align-items: flex-start;
  // justify-content: space-around;
  & > * {
    padding: .5em;
  }
}
.mad-input-date_grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  width: 16em;
  & > * {
    width: 14%;
    margin: 0;
    padding: .5rem;
  }
}
.mad-input-date_time {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  // font-size: 1.2em;
}
.mad-input-date_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
