

.mad-input {
  display: flex;
  align-items: center;
  justify-content: stretch;
  background: white;
  border: 1px solid rgba($text, 0.5);
  box-shadow: 0 1px 1px rgba(black, 0.15) inset;
  border-radius: 2px;
  padding: 0 .5em;
  min-height: 2.6em;
  .mad-input_input {
    flex-grow: 1;
    min-width: 0;
    background: transparent;
    padding: .5em 0;
    // padding-right: 0;
    // margin: -.5em;
    // font-size: 110%;
    .-haserror & {
      border-color: $red;
      color: $red;
    }
    &:disabled,
    &:read-only {
      background: rgba(0, 0, 0, 0.05);
      color: rgba(0, 0, 0, 0.8);
      pointer-events: none;
      cursor: default;
    }
    &:focus {
      outline: none !important;
      // border-color: $primary;
    }
  }
  & > :not(:last-child) {
    margin-right: .5em;
  }
  &:focus-within {
    border-color: $primary;
    box-shadow: 0 0 0 1px $primary;
  }
}