

@each $name, $color in $allcolors {
  .#{$name} { color: $color !important; }
  .bg-#{$name} { background-color: $color !important; }
  .border-#{$name} { border-color: $color !important; }
}
@each $name, $color in $darkcolors {
  .bg-#{$name} { color: $white; }
}
@each $name, $color in $lightcolors {
  .bg-#{$name} { color: $black; }
}

@each $key, $size in $fontsizes {
  .size-#{$key} { font-size: $size !important; }
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

@each $direction in (row, column, row-reverse, column-reverse) {
  .#{$direction} {
    display: flex;
    flex-flow: $direction;
  }
}

.wrap { flex-wrap: wrap; }
.wrap-reverse { flex-wrap: wrap-reverse; }
.grow { flex-grow: 1; }
@each $t in (baseline, center, stretch, flex-start, flex-end) {
  .align-#{$t} { align-items: $t }
  .align-self-#{$t} { align-self: $t }
}
@each $t in (space-between, space-around, space-evenly, center, flex-start, flex-end) {
  .justify-#{$t} { justify-content: $t }
  .justify-self-#{$t} { justify-self: $t }
}

.faded { opacity: 0.5 }

@each $key, $value in $distances {
  .margin#{$key} { margin: $value; }
  .padding#{$key} { padding: $value; }
  .h-spacing#{$key} > :not(:last-child) { margin-right: $value; }
  .v-spacing#{$key} > :not(:last-child) { margin-bottom: $value; }
}
