$yellow: #e4b600 !default;
$blue: #4296e6 !default;
$green: #3bb983 !default;
$red: #e43f3f !default;
$purple: #7348eb !default;
$orange: #fb7e5c !default;

$dark: #35495d;

$white: #ffffff !default;

$text: $dark !default;
$primary: $blue !default;


$colors: (
  yellow: $yellow,
  blue: $blue,
  green: $green,
  red: $red,
  purple: $purple,
  orange: $orange,

  white: $white,

  text: $text,
  primary: $primary,
) !default;


$fontsizes: (
  huge: 1.8em,
  large: 1.35em,
  medium: 1em,
  small: 0.9em,
  tiny: 0.75em,
) !default;



// $margin: 1.5rem !default;
// $margin-xs: $margin * 0.25 !default;
// $margin-sm: $margin * 0.5 !default;
// $margin-lg: $margin * 1.5 !default;
// $margin-xl: $margin * 3 !default;

// $margins-map: (
//   '': $margin,
//   -xs: $margin-xs,
//   -sm: $margin-sm,
//   -lg: $margin-lg,
//   -xl: $margin-xl,
//   -0: 0,
// );
