$red: var(--red) !default;
$pink: var(--pink) !default;
$purple: var(--purple) !default;
$deeppurple: var(--deeppurple) !default;
$indigo: var(--indigo) !default;
$blue: var(--blue) !default;
$lightblue: var(--lightblue) !default;
$cyan: var(--cyan) !default;
$teal: var(--teal) !default;
$green: var(--green) !default;
$lightgreen: var(--lightgreen) !default;
$lime: var(--lime) !default;
$yellow: var(--yellow) !default;
$amber: var(--amber) !default;
$orange: var(--orange) !default;
$deeporange: var(--deeporange) !default;
$brown: var(--brown) !default;
$bluegray: var(--bluegray) !default;

$black: var(--black) !default;
$dark: var(--dark) !default;
$gray: var(--gray) !default;
$light: var(--light) !default;
$white: var(--white) !default;

$primary: var(--primary) !default;
$accent: var(--accent) !default;

$darkcolors: (
  "pink": $pink,
  "red": $red,
  "purple": $purple,
  "teal": $teal,
  "deeppurple": $deeppurple,
  "indigo": $indigo,
  "orange": $orange,
  "blue": $blue,
  "green": $green,
  "deeporange": $deeporange,
  "brown": $brown,
  "bluegray": $bluegray,
  "black": $black,
  "dark": $dark,
  "gray": $gray,
  "primary": $primary,
  "accent": $accent,
) !default;

$lightcolors: (
  "lightblue": $lightblue,
  "cyan": $cyan,
  "lightgreen": $lightgreen,
  "lime": $lime,
  "yellow": $yellow,
  "amber": $amber,
  "light": $light,
  "white": $white,
) !default;

$allcolors: join($darkcolors, $lightcolors);

$fontsizes: (
  xs: 0.75em,
  sm: 0.9em,
  md: 1em,
  lg: 1.25em,
  xl: 1.5em,
  xxl: 1.75em,
) !default;

$margins: (
  '-0': 0,
  '-xxs': 0.125rem,
  '-xs': 0.25rem,
  '-sm': 0.5rem,
  '': 1rem,
  '-md': 1rem,
  '-lg': 1.5rem,
  '-xl': 2rem,
  '-xxl': 3rem,
  '-auto': auto,
) !default;

$breakpoints: (
  '': 0,
  '-xs': 0,
  '-sm': 600px,
  '-md': 960px,
  '-lg': 1264px,
  '-xl': 1904px,
) !default;
